/* Animation for alert */
@keyframes shrinkingBorder {
  from {width: 100%;}
  to {width: 0;}
}

.alert::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  animation: shrinkingBorder;
  animation-duration: 4100ms;
  border-radius: 2px;
}

.alert[data-isopen="true"] {
  display: block;
  visibility: visible;
}

.alert[data-isopen="false"] {
  display: none;
  visibility: hidden;
}

.alert.alert-success::after {
  background-color: #0f5132;
}

.alert.alert-danger::after {
  background-color: #842029;
}
