@charset "UTF-8";

/* Importar fonte */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

/* Estilos gerais do App */
:root {
  --brandBlue: #2F4164;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #1b253a;
}

h1, h2, h3, h4, h5, h6 { font-weight: 600; }
.h1, .h2, .h3, .h4, .h5, .h6 { font-weight: 600; }

/* Botoes */
.btn-primary {
  font-size:medium;

  color:white;
  border: transparent;
  background-color: #2F4164;
  box-shadow: 1px 1px 5px #70776e;

  transition: 0.5s;
}

.btn-primary:hover {
  color: white;
  background-color: #1C273C;
}

.btn-outline-primary {
  font-size:medium;

  color:#2F4164;
  border-color: #2F4164;
  background-color: transparent;

  transition: 0.5s;
}

.btn-outline-primary:hover {
  font-size:medium;

  color:white;
  background-color: #2F4164;;

  transition: 0.5s;
}
