body{
    background-color:  #e5e5e5;
}

.Produto {
  padding-top: 56px;
}

.cadastrar{
    margin: auto;
}
.cadastrar h3{
    color:#2F4164;
}

.btn-cadastro {
    background-color: #2F4164;
    color:white;
    transition: 0.5s;
}

.btn-cadastro:hover {
    background-color: #1C273C;
    color: white;
}
